$primary-bg: #1B2631;
$secondary-bg: #AEB6BF;
$primary-text: #212F3C;
$secondary-text:#f0f3f5;
$black: #000;
$white: #fff;
$loader-bg: rgba(133, 146, 158, 0.5);
$loader-color-1: $secondary-bg;
$loader-color-2: $primary-bg;